{% extends 'panel.html.twig' %}

{% block title %}Edit Skill{% endblock %}

{% block body %}
	<h2 style="text-align:center">Modifier une compétence</h2>

	<a href="/admin/skills" class="btn btn-nav">Retour</a>

	
  <h2>Nom de la compétence: <span>{{skill.name}}</span></h2>
{% endblock %}
